body, html {

    background-color: rgb(255, 255, 255);
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

#navBar {

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 40px;

    background-color: black;

    transition: height ease 0.4s, opacity ease 0.4s;

}

#navBar a { 

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 33.33%;

    color: white;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.4);

    transition: background-color ease 0.4s, height ease 0.4s;

}

#navBar a:hover { 

    background-color: white;
    color: black;
}

#navBar a:visited { 

    color: white;

}
#navBar a:visited:hover { 

    background-color: white;
    color: black;
}


/* -------------------------------------------------------------------------------------------------- */

.header {

    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}

.footer {

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 75px;

    bottom: 0;
    
    background-color: black;
}

.footer a {

    color: white;
    text-decoration: none;
}

.footer a:hover {

    color: rgb(195, 195, 195);
}

.footer a:visited {

    color: white;
}


.footerItem {

    margin: 0 5%;

}

.footerItem a {

    display: flex;
    align-items: center;
    justify-content: center;

    width: 42px;
    height: 42px;
    border-radius: 50%;

    margin: 0;

    transition: background-color ease 0.2s;

}

.footerItem a:hover {

    background-color: white;
}

